.footerWrap{
    position: absolute;
    bottom:0;
    height: 80px;
    width:100%;
    display: flex;
    background-color: var(--gray);
    padding:20px 0px 0px 140px;
    gap:50px;
}

.infos{
    display: flex;
    flex-direction: column;
    padding-top:10px;
}

.info{
    font-size:12px;
}