:root {
    --point: rgb(170,13,14);
    --blue: rgb(12,77,162);
    --gray:rgb(244,246,245);
    --basic:rgb(85,85,85);
  }

*{
    transition: all 0.3s;
    overflow:hidden;
    box-sizing: border-box;
    /* border: 1px solid; */
}    

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 링크 색상 상속 */
}

.mh{
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.mw{
  width:100%;
  min-width: 100%;
  max-width: 100%;
}

.maxFlex{
  flex:1;
}

.row{
  display: flex;
  flex-direction: row !important;
}

.col{
  display: flex;
  flex-direction: column !important;
}

.body{
  width:100vw;
  height: calc(100vh - 180px);
  margin-top:100px;
  overflow-y: auto !important;
  gap:10px;
  padding:20px;
  display:flex;
  
}

.box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.boxTitle{
  display:flex;
  justify-content: flex-start;
  align-items: flex-end;
  width:100%;
  height: 30px;
  margin-left: 10px;
}

.boxContent{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}

.boxContentMenu{
  margin-left:auto;
  height: 100%;
  width:200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}

.boxFooter{
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}

.active{
  color:var(--point) !important;
}

.mainBox{
  width:700px;
  height:100%;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.colBox{
  height: 100%;
  width:400px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.colAppendBox{
  height: 100%;
  width:200px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.rowBox{
  width:800px;
  flex:1;
  display: flex;
  flex-direction: row;
  gap:10px;
}

.infoCell{
  width:100%;
  padding:0px 5px;
  border-bottom: 1px solid var(--basic);
}